.profileimg{
    object-fit: contain;
    width: 270px;
    height: 270px;
    border-radius: 15px;
}
.about-education{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    padding: 5px 40px;
    height: 100px;
    width: 200px;
    border-radius: 20px;
}
.education-icon{
    margin-top: 15% !important;
    font-size: 210% !important;
}
.education{
    text-align: center;
    font-size: 11px;
}
.about{
    text-align: center;
   
}
.about-me{
    margin-top: 1%;
    margin-bottom: 15%;
}
.about-informtion{
    margin-top: 4%;
    margin-left: 2%;
    padding: 20px;
    font-size: 14px;
}
.about-section{
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
}